Szkolenia będą prowadzone przez pracowników naukowo-dydaktycznych Wydziału Mechaniczno-Energetycznego Politechniki Wrocławskiej.

### Warsztaty online 3-godzinne:

Projektowanie domowych instalacji fotowoltaicznych — 12.03.2024, godz. 8:00-10:30

Projektowanie przemysłowych instalacji fotowoltaicznych — 19.03.2024, godz. 8:00-10:30

Projektowanie domowych instalacji fotowoltaicznych — termin do ustalenia

Projektowanie przemysłowych instalacji fotowoltaicznych — termin do ustalenia

### Dzień otwarty Laboratorium Energetyki Odnawialnej - 5.04.2024 r.

Pokazy stacjonarne o godz. 10, 12 i 14.\
Sala 322 bud. L-1,\
ul. Na Grobli 15,\
Wrocław.

### Warsztaty online 1-godzinne dla uczniów szkół ponadpodstawowych/studentów/dorosłych:

1.  Czym jest efektywność energetyczna — termin do ustalenia
2.  Energooszczędne budownictwo — termin do ustalenia
3.  OZE w architekturze — termin do ustalenia
4.  Możliwości odzysku energii odpadowej — termin do ustalenia
5.  Słoneczne instalacje energetyczne — termin do ustalenia
6.  Systemy słonecznego chłodzenia pomieszczeń — termin do ustalenia
7.  Smart city — termin do ustalenia
8.  Wodór jako alternatywne paliwo przyszłości — termin do ustalenia
9.  Fotowoltaika, a energetyka konwencjonalna — termin do ustalenia
10. Ciepło z głębi Ziemi — termin do ustalenia
11. Dlaczego warto wyposażyć dom w pompę ciepła? — termin do ustalenia
12. Czysta, tania i stabilna hydroenergetyka — termin do ustalenia
13. Złoto ukryte w odpadach — termin do ustalenia
14. Czy jesteśmy skazani na smog? — termin do ustalenia
15. O różnych formach energii — jak z ciepła można zrobić dźwięk? — termin do ustalenia
16. Wirtualny spacer po LEO, z analizą pracy instalacji dla dorosłych — termin do ustalenia

### Warsztaty online 1-godzinne dla uczniów szkół podstawowych:

1.  Odnawialne źródła energii wokół nas — termin do ustalenia
2.  Wirtualny spacer po LEO, z analizą pracy instalacji — termin do ustalenia

---

Ws. terminów i możliwości uczestnictwa prosimy o kontakt z Kierownikiem
Laboratorium:

prof. Magdalena Nemś,\
[magdalena.nems@pwr.edu.pl](mailto:magdalena.nems@pwr.edu.pl),\
[tel. 71 320 48 26](tel:713204826).
