::: {style="background-color: lightgray; padding: 5px;"}
**Laboratorium Energetyki Odnawialnej**\
Politechnika Wrocławska\
Wydział Mechaniczno-Energetyczny\
Na Grobli 13 (Budynek L-1)\
50-421 Wrocław
:::
