{% include 'szablony/script.md' %}

:::::: cols
::: col

{{ADRES}}

### Kierownik Laboratorium

dr hab. inż. Magdalena Nemś, prof. uczelni\
[+48 (71) 320 48 26](tel:+48713204826)\
budynek L-1, pok. 313\
e-mail: [magdalena.nems@pwr.edu.pl](mailto:magdalena.nems@pwr.edu.pl)


:::
::: col

```{=html}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ol/dist/ol.js"></script>
<div id="map" class="map" style="height: 20em; width: 100%;"></div>
<script type="text/javascript" src="{{ CDN }}/scripts/map.js"></script>
```

:::
::::::
